body {
  margin-top: 20px;
  margin-left: 50px;
  background-image: url('images.jpg');
  /* DO NOT include background-size or background-repeat */
}

hr {
  height: 4px;
  background-color: #33FF33;
  border: none;
  width: 50%;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: left;
  color: #FFFFCC;
  font-size: 3em;
}

h3 {
  text-align: right;
  color: #CC0000;
  font-size: 3em;
}

h4 {
  text-align: left;
  color: #FFCCCC;
  font-size: 3em;
}

p {
  color: white;
  font-size: 1.5em;
}

ul {
  color: white;
  font-size: 1.5em;
}

img {
  border: 6px solid black;
}

